
body {
    font-family: 'Inter', sans-serif;
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -2px;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.nav-item {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.nav-item:hover {
    background-color: #555;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .sortbtn:hover {
    color: #f1f1f1;
}

.sortbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    position: absolute;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-content {
    overflow-y: auto;
    position: absolute;
    top: 69px;
    left: 0;
    right: 0;
    bottom: 0;
}

.chat-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Space between chat area and input area */
    flex-grow: 1;
    z-index: 0;
    height: 95vh;
}

.chat-area {
    position: relative;
    flex: 1;
    overflow-y: auto; /* Add a scrollbar if content overflows */
    padding: 1rem;
    border-bottom: 1px solid #383d3f;
    font-size: 16px; /* Adjust as needed */
    color: #333; /* Dark gray color for better readability */
    margin-top: 30px;
}

.input-area {
    /* Any specific styles you want for the input area */
    padding: 1rem;
    background-color: #f5f5f5;
}

.form-control {
    background-color: #181a1b;
    color: #d1cdc7;
    border: solid #383d3f;
    border-width: thin;
}

.input-area .form-control {
    margin-right: 0.5rem;
}

.form-control::placeholder {
    color: #464b4d !important;
    font-weight:500;
}

.user-message {
    font-weight: 500; /* Medium thickness */
    margin-bottom: 0.5rem; /* Spacing between messages */
    background-color: darkslategray;
    padding: 0.5rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.llm-response {
    font-weight: 400; /* Was 500 */
    margin-bottom: 0.5rem; /* Spacing between messages */
    background-color: #1e2022;
    color: #e8e6e3; 
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #3A3E41;
}

.scroll-down-btn {
    position: absolute;
    bottom: 80px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;

    /* Additional styling */
    border: none;
    outline: none;
    color: #6bb3ff;

    /* Optional padding */
    padding: 5px;

    /* Effect for hover*/
    transition: color 0.3s ease;

    /* Adjust alignment if the icon is not centered */
    text-align: center;
    line-height: 1;
}

/* Style for hover effect (optional) */
.scroll-down-btn:hover {
    color: #327DFF;
}

.upload-file-btn {
    margin-right: 7px; /* adjust as needed */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader {
    margin: 60px auto;
    font-size: 10px;
    width: 50px;
    height: 50px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: spin 0.7s infinite linear;
    border-radius: 50%;
}

.cell-loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

.waiting {
    color: #f39c12;
}

.success {
    color: #2ecc71;
}

.failure {
    color: #e74c3c;
}

#overlay {
    /* ... your existing styles ... */
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.7); /* This will add a white translucent background, adjust opacity as needed */
}

.llm-wrapper {
    position: relative;
    margin-bottom: 2rem;
}

.response-and-viewer-container {
    display: flex;
    margin-bottom: 100px;
}

.pdf-viewer {
    flex: 1;
    padding: 10px;
    padding-top: 0px;
    transform: translateY(-15px);
    box-sizing: border-box;
}

.llm-wrapper {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}


.star-rating {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    padding: 5px 10px; /* Spacing inside the star-rating container */
    border: 1px solid #ccc; /* Border around the star-rating */
    border-radius: 15px; /* Rounded border */
    background-color: #181A1B; /* White background */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.fa-star {
    cursor: pointer;
    color: #ccc; /* Color of non-rated stars. #ccc: light-gray */
    font-size: 18px;
    transition: color 0.3s; /* Smooth transition for filling stars */
}

.fas.fa-star {
    color: #ffa500; /* Color of rated stars: Yellow */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    height: 5vh;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column; /* Stack h3 and h4 vertically */
    align-items: center;    /* Center the text horizontally */
    flex-grow: 1;           /* Allow the container to take up available space */
    display: none;
}

.info-container {
    margin-right: 15px;
}

.info-container .info-box {
    position: absolute;
    right: 100%;
    margin-right: 10px;
    top: 0;
    width: max-content;
    max-width: 345px;
    background-color: rgba(23, 26, 27, 0.7); /*Alpha adjusted for transparency*/
    color: #D1CDC7;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /*Match the glassmorphism box shadow*/
    z-index: 100;
    padding: 10px;
    border-radius: 10px; /*Match the glassmorphism border radius*/
    border: 1px solid rgba(255, 255, 255, 0.18); /*Match the glassmorphism border*/
}

.info-container .info-box::before {
    content: '';
    position: absolute;
    top: 18px;
    right: 1px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    z-index: 101;
}

/* Style your h3 and h4 elements inside the info-box as desired */
.info-container .info-box h3,
.info-container .info-box h4 {
    margin: 0;
    text-align: center;
}

.info-container .info-box h3 {
    font-size: medium;
}

.info-container .info-box h4 {
    margin-top: 10px;
    font-size: small;
}

.header-logo {
    display: flex;
    flex-direction: column; /* Stack h3 and h4 vertically */
    align-items: center;    /* Center the text horizontally */
    flex-grow: 1;           /* Allow the container to take up available space */
    height: 100%;
    width: auto;
}

#main_logo {
    max-width: 250px;
    height: auto;
    width: 100%;
}

.modal-content {
    background-color: #181A1B;
    color: #e8e6e3;
    border: 1px solid #3A3E41;
}

.modal-header{
    border: 1px solid #3A3E41;
}

.modal-footer {
    border: 1px solid #3A3E41;
}

.modal-selection-radios {
    display: flex; /* Uses flexbox to lay out child elements*/
    justify-content: space-between; /* space out children evenly */
    width: 100%;
}

.modal-selection-radios label {
    flex: 1;    /* Allow each label to grow and take up equal space*/
}

.custom-modal-width {
    max-width: 75%;
}

.api_form .form-group {
    display: flex;
    margin-bottom: 10px;
}

.api_form .form-group label {
    flex: 0 0 auto; /*prevent label from growing*/
    margin-right: 10px; /*space between label and input*/
    white-space: nowrap;    /*prevents label from wrapping*/
}

.api_form .form-group input[type="text"] {
    flex: 1 1 auto; /*Allow the input to grow and fill available space*/
    width: 0;   /*trick to ensure flex-grow works!*/
}

.modal-selects {
    width: 100%;
}

/* Targeting all button elements within .modal-footer and .input-area */
.modal-footer button,
.input-area button,
.input-area input[type="button"],
.input-area input[type="submit"] {
background-color: #343A40; /* Example: Set a common background color */
color: #ffffff; /* Example: Set a common text color */
border: none; /* Example: Remove border */
border-radius: 5px; /* Example: Set rounded corners */
cursor: pointer; /* Change the cursor on hover */
}

/* Common hover effect for all buttons */
.modal-footer button:hover,
.input-area button:hover,
.input-area input[type="button"]:hover,
.input-area input[type="submit"]:hover {
background-color: #282d33; /* Darker shade on hover */
}

.btn-primary {
    background-color: darkslategray;
    border-width: 0;
}

.btn-primary:hover {
    background-color: darkslateblue;
}

.btn-outline-secondary {
    background-color: white;
    color: black;
    border-style: double;
    border-color: black;
}

.btn-outline-secondary:hover {
    background-color: darkorange;
}


#saveChangesButton {
    background-color: darkslategray;
    border-width: 0;
}

#saveChangesButton:hover {
    background-color: darkslateblue;
}

.llm-adv-set-toggle {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.llm-adv-set-toggle:hover {
    color: black;
}

#docs_loaded_details_table {
    width: 100%;
    table-layout: fixed;
}

#docs_loaded_details_table th, #docs_loaded_details_table td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#google_drive_files_tables {
    width: 100%;
    table-layout: fixed;
}

#google_drive_files_tables th, #google_drive_files_tables td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
}

#googleDriveSyncAction {
    margin-top: 10px;
    float: left;
}

.checkbox-cell {
    text-align: center;
}

.checkbox-cell input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 7px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #DDD;
}

tr:hover {
    background-color: darkslategray;
}

.settings-requiring-restart-container {
    border: 1px solid #3A3E41;
    padding: 10px;
    position: relative;
    border-radius: 5px;
}

.restart-settings-group {
    padding-bottom: 10px;
}

.hf-select-settings-divs-group {
    display: flex;
    align-items: center;
}

.hf-select-settings-labels-group {
    margin-right: 10px;
}

.restart-warning {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 16px;    /*Adjusts the size of icon & text*/
    font-weight: 500;
}

.restart-warning i {
    margin-right: 5px;
    color: #ffcc00;
}

a.list-group-item.list-group-item-action {
    background-color: #181A1B;
    border: 1px solid #3A3E41;
    color: #D1CDC7;
}

a.list-group-item.list-group-item-action:hover {
    background-color: darkslategray
}

a.list-group-item.list-group-item-action.active {
    background-color: darkslategray;
    border: 1px solid darkslategray;
    color: #D1CDC7;
}

#processingQnS {
    color: #D1CDC7;
}

#processingQ {
    color: #D1CDC7;
}

/*SCROLLBAR STYLING - For WebKit-based browsers (Chrome, Safari, newer versions of Edge):*/
/* This styles the scrollbar track (the part the thumb slides along) */
::-webkit-scrollbar-track {
    background: #212324; /* Light grey track background */
}

/* This styles the scrollbar thumb (the part that's draggable) */
::-webkit-scrollbar-thumb {
    background: #464A4D; /* Grey thumb */
}

/* This styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background: #575E62; /* Darker grey on hover */
}

/* This styles the overall scrollbar (width, etc.) */
/* ::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar
} */

/*SCROLLBAR STYLING - For Firefox:*/
/* The syntax is scrollbar-color: <thumb color> <track color>; */
body {
    scrollbar-color: #464A4D #212324; 
    /*scrollbar-width: thin; /* Can be "auto", "thin", or "none" */
}

.thumbnail-icon {
    font-size: 100px;
    cursor: pointer;
}

.image-gallery-modal {
    display: none;
    position: fixed;
    z-index: 1050;  /* Bootstrap modals use z-index of 1050, so this ensures it is above */
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.image-gallery-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

.image-gallery-close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.image-gallery-close:hover,
.image-gallery-close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.gallery-thumbnail {
    margin: 10px;
    width: 100%;
    height: 350px;
    cursor: grabbing;
}

.pdf-viewer-container {
    width: 50%;
    height: 600px;
}

.tab-buttons {
    overflow: hidden;
    border: 1px solid #3A3E41; /*darkslategray;*/
    background-color: transparent;
}

.tab-button {
    background-color: #282828;
    color: white;
    float: left;
    border: 2px solid black;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: white;
    color: black;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #3A3E41; /*darkslategray;*/
    border-top: none;
}

.hf-waitress-llm-custom-select {
    position: relative;
    width: 100%;
}

.hf-waitress-llm-custom-select-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
}

.hf-waitress-llm-custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.hf-waitress-llm-custom-dropdown-content.show {
    display: block;
}

.hf-waitress-llm-custom-dropdown-search-and-sort-header {
    display: flex;
    padding: 10px;
}

.hf-waitress-llm-custom-dropdown-sort-btn {
    width: 30%;
    margin-right: 5px;
    color: white;
    background-color: darkslategray;
}

.hf-waitress-llm-custom-dropdown-search-input {
    width: 70%;
}

.hf-waitress-llm-custom-dropdown-add-btn, .hf-waitress-llm-custom-dropdown-add-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
}

.hf-waitress-llm-custom-dropdown-add-btn {
    color: white;
    background-color: darkslategray;
}

.hf-waitress-llm-custom-dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: black;
}

.hf-waitress-llm-custom-dropdown-item:hover {
    background-color: #f1f1f1;
}

.hf-waitress-llm-custom-dropdown-delete-btn {
    cursor: pointer;
}

.nav-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.app-title {
    margin-left: 11px;
    color: white;
    font-size: 31px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 5px;
    user-select: none;
}

.app-title span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.app-title:hover span {
    animation: bounce 0.6s;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

