accelerate>=0.33.0
aiofiles>=23.2.1
aiohttp>=3.9.5
aiosignal>=1.3.1
annotated-types>=0.5.0
antlr4-python3-runtime>=4.9.3
anyio>=4.0.0
asgiref>=3.7.2
async-timeout>=4.0.3
attrs>=23.1.0
azure-ai-formrecognizer>=3.3.3
azure-ai-vision>=0.15.1b1
azure-cognitiveservices-vision-computervision>=0.9.0
azure-common>=1.1.28
azure-core>=1.29.6
backoff>=2.2.1
bcrypt>=4.0.1
beautifulsoup4>=4.12.2
bitarray>=2.9.2
bitsandbytes>=0.43.3
blinker>=1.6.3
blis>=0.7.10
botocore>=1.34.134
cachetools>=5.4.0
catalogue>=2.0.9
certifi>=2023.7.22
cffi>=1.15.1
chardet>=5.2.0
charset-normalizer>=3.2.0
chroma-hnswlib>=0.7.2
chromadb>=0.4.7
click>=8.1.7
cmake>=3.29.6
colorama>=0.4.6
colorclass>=2.2.2
coloredlogs>=15.0.1
compressed-rtf>=1.0.6
confection>=0.1.1
cryptography>=41.0.3
ctransformers>=0.2.27
cymem>=2.0.7
Cython>=3.0.10
dataclasses-json>=0.5.14
datasets>=2.20.0
Deprecated>=1.2.14
dill>=0.3.8
dirtyjson>=1.0.8
diskcache>=5.6.3
distro>=1.9.0
dnspython>=2.4.2
docarray>=0.39.1
docker>=6.1.3
easygui>=0.98.3
ebcdic>=1.1.1
ecdsa>=0.18.0
einops>=0.8.0
emoji>=2.8.0
et-xmlfile>=1.1.0
evaluate>=0.4.2
exceptiongroup>=1.1.3
extract-msg>=0.45.0
fastapi>=0.99.1
filelock>=3.12.3
filetype>=1.2.0
Flask>=3.0.0
Flask-Cors>=4.0.1
flatbuffers>=23.5.26
frozenlist>=1.4.0
fsspec>=2023.6.0
ghostscript>=0.7
google-api-core>=2.19.1
google-api-python-client>=2.140.0
google-auth>=2.32.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.1
googleapis-common-protos>=1.61.0
greenlet>=2.0.2
grpcio>=1.59.2
grpcio-health-checking>=1.59.2
grpcio-reflection>=1.59.2
h11>=0.14.0
hqq>=0.1.7.post3
httpcore>=1.0.5
httplib2>=0.22.0
httptools>=0.6.0
httpx>=0.27.0
huggingface-hub>=0.23.4
humanfriendly>=10.0
idna>=3.4
IMAPClient>=2.3.1
importlib-metadata>=6.8.0
importlib-resources>=6.0.1
iniconfig>=2.0.0
intel-openmp>=2021.4.0
isodate>=0.6.1
itsdangerous>=2.1.2
jcloud>=0.3
jina-hubble-sdk>=0.39.0
Jinja2>=3.1.2
jmespath>=1.0.1
joblib>=1.3.2
jsonpatch>=1.33
jsonpointer>=2.4
langchain>=0.0.350
langchain-community>=0.0.3
langchain-core>=0.1.1
langcodes>=3.3.0
langsmith>=0.0.63
lark>=1.1.5
loguru>=0.7.0
lxml>=4.9.3
markdown-it-py>=3.0.0
MarkupSafe>=2.1.3
marshmallow>=3.20.1
mdurl>=0.1.2
mkl>=2021.4.0
monotonic>=1.6
mpmath>=1.3.0
msoffcrypto-tool>=5.1.1
msrest>=0.7.1
multidict>=6.0.4
multiprocess>=0.70.16
murmurhash>=1.0.9
mypy-extensions>=1.0.0
nest-asyncio>=1.6.0
networkx>=3.1
ninja>=1.11.1
nltk>=3.8.1
numexpr>=2.8.5
numpy>=1.25.2
nvidia-cublas-cu12>=12.3.2.9
nvidia-cuda-runtime-cu12>=12.3.52
oauthlib>=3.2.2
olefile>=0.46
oletools>=0.60.1
onnxruntime>=1.15.1
openai>=1.23.6
opencv-python>=4.9.0.80
openpyxl>=3.1.2
opentelemetry-api>=1.19.0
opentelemetry-exporter-otlp>=1.19.0
opentelemetry-exporter-otlp-proto-common>=1.19.0
opentelemetry-exporter-otlp-proto-grpc>=1.19.0
opentelemetry-exporter-otlp-proto-http>=1.19.0
opentelemetry-exporter-prometheus>=1.12.0rc1
opentelemetry-instrumentation>=0.40b0
opentelemetry-instrumentation-aiohttp-client>=0.40b0
opentelemetry-instrumentation-asgi>=0.40b0
opentelemetry-instrumentation-fastapi>=0.40b0
opentelemetry-instrumentation-grpc>=0.40b0
opentelemetry-proto>=1.19.0
opentelemetry-sdk>=1.19.0
opentelemetry-semantic-conventions>=0.40b0
opentelemetry-util-http>=0.40b0
orjson>=3.9.10
overrides>=7.4.0
packaging>=23.2
pandas>=2.2.2
pandoc>=2.3
pathspec>=0.11.2
pathy>=0.10.2
pcodedmp>=1.2.6
pdf2image>=1.16.3
pdfminer.six>=20221105
pdfplumber>=0.10.2
Pillow>=10.0.0
pinecone-client>=2.2.2
pipdeptree>=2.23.0
pluggy>=1.3.0
plumbum>=1.8.2
ply>=3.11
portalocker>=2.10.0
posthog>=3.0.2
preshed>=3.0.8
prometheus-client>=0.18.0
proto-plus>=1.24.0
protobuf>=4.24.2
psutil>=6.0.0
pulsar-client>=3.3.0
py-cpuinfo>=9.0.0
pyarrow>=17.0.0
pyarrow-hotfix>=0.6
pyasn1>=0.5.0
pyasn1_modules>=0.4.0
pycparser>=2.21
pycryptodome>=3.18.0
pydantic>=1.10.12
pydantic_core>=2.6.3
Pygments>=2.16.1
PyMuPDF>=1.23.1
PyMuPDFb>=1.23.0
pypandoc>=1.11
pyparsing>=2.4.7
pypdf>=4.2.0
PyPDF2>=3.0.1
pypdfium2>=4.19.0
PyPika>=0.48.9
pyreadline3>=3.4.1
pytest>=7.4.3
pytest-subtests>=0.11.0
python-dateutil>=2.8.2
python-dotenv>=1.0.0
python-jose>=3.3.0
python-magic>=0.4.27
python-multipart>=0.0.6
pytz>=2024.1
pywin32>=306
PyYAML>=6.0.1
quanto>=0.2.0
rapidfuzz>=3.9.6
red-black-tree-mod>=1.20
regex>=2023.8.8
requests>=2.32.3
requests-oauthlib>=1.3.1
rich>=13.6.0
rsa>=4.9
RTFDE>=0.1.0
s3transfer>=0.10.2
sacrebleu>=2.4.2
safetensors>=0.4.3
scikit-learn>=1.3.0
scipy>=1.11.2
sentence-transformers>=2.2.2
sentencepiece>=0.1.99
six>=1.16.0
smart-open>=6.3.0
sniffio>=1.3.0
soupsieve>=2.4.1
spacy>=3.6.1
spacy-legacy>=3.0.12
spacy-loggers>=1.0.4
SQLAlchemy>=2.0.20
srsly>=2.4.7
starlette>=0.27.0
sympy>=1.12
tabulate>=0.9.0
tbb>=2021.11.0
tenacity>=8.2.3
termcolor>=2.4.0
thinc>=8.1.12
threadpoolctl>=3.2.0
timm>=0.4.12
tokenizers>=0.19.1
tqdm>=4.66.4
transformers>=4.44.0
typer>=0.9.0
types-requests>=2.31.0.6
types-urllib3>=1.26.25.14
typing-inspect>=0.9.0
typing_extensions>=4.8.0
tzdata>=2023.3
tzlocal>=5.0.1
unstructured>=0.10.8
uritemplate>=4.1.1
urllib3
uvicorn>=0.23.2
waitress>=3.0.0
wasabi>=1.1.2
watchfiles>=0.20.0
websocket-client>=1.6.4
websockets>=11.0.3
Werkzeug>=3.0.1
Whoosh>=2.7.4
win-unicode-console>=0.5
win32-setctime>=1.1.0
wrapt>=1.16.0
xxhash>=3.4.1
yarl>=1.9.2
zipp>=3.17.0
zstandard>=0.23.0
